header {
    background: url("../images/enterprise.png"), lightgray 50% / cover no-repeat;
    width: 100%;
    height: 600px;
    margin-top: -90px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

header > h2 {
    color: #FFC501;
    font-size: 120px;
    font-weight: 900;
    margin-top: 180px;
    margin-right: 320px;
}

header > p {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    width: 645px;
    height: 67px;
    margin-right: 270px;
}
